<!DOCTYPE html>
<html>
<head>
    <title>Server Error</title>
    <style>
        body {
            background-color: #f2f2f2;
            color: #333;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 30%;
            margin: auto;
            padding-top: 50px;
        }

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>CSV 파일 형식 오류!</h1>
        <p>모델 별 형식에 맞는 CSV파일을 업로드 해주세요.</p>
    </div>
</body>
</html>
